<?xml version="1.0"?>

<launch>

    <arg name="robot_name" value="sergio" />

    <group ns="$(arg robot_name)">

        <!-- ROBOCUP RECORDER -->
        <include file="$(find robot_launch_files)/launch/essentials/record_robocup.launch">
            <arg name="machine" value="sergio2" />
        </include>

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="sergio2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="sergio2"/>
        </include>

        <!-- IMAGE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/image_recognition.launch">
            <arg name="machine" value="sergio2"/>
        </include>

        <!-- PEOPLE RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/world_modeling/people_recognition.launch">
            <arg name="machine" value="sergio2"/>
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

    </group>

    <!-- Start the challenge -->
    <node pkg="challenge_set_a_table" type="challenge_set_a_table.py" name="state_machine" args="sergio" output="screen" required="true"/>

</launch>
