<?xml version="1.0"?>

<!-- Checkout README.md to see when to use this launch file -->

<launch>

    <group ns="sergio">

        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="sergio2"/>
        </include>

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="sergio2"/>
            <arg name="faces_db" value="~/MEGA/data/$(optenv ROBOT_ENV robotics_testlabs)/models/image_recognition_openface/faces.pkl" />
        </include>

        <!-- Joke -->
        <include file="$(find robot_launch_files)/launch/essentials/joke.launch" >
            <arg name="machine" value="sergio2" />
        </include>

	<node name="face_recognizer" pkg="challenge_final" type="face_recognizer.py" output="log" respawn="true" />

    </group>

    <!-- Action server state machine -->
    <node name="state_machine" pkg="action_server" type="main.py" output="log" required="true" >
        <param name="robot_name" value="sergio"/>
    </node>

    <node name="conversation_engine" pkg="conversation_engine" type="engine" output="log" required="true">
        <param name="robot" value="sergio" />
        <param name="challenge" value="challenge_final" />
        <remap from="robot_to_user" to="/sergio/message_from_ros" />
        <remap from="user_to_robot" to="/sergio/message_to_ros" />
    </node>

</launch>
