<?xml version="1.0"?>
<launch>

    <group ns="sergio">

        <!-- OROCOS HARDWARE -->
        <include file="$(find robot_launch_files)/launch/hardware/deployer.launch">
            <arg name="DEPLOYER_ARGS" value="gnulinux
                HARDWARE
                -s $(find sergio_bringup)/parameters/hardware/actuators/soem.ops
                -s $(find sergio_bringup)/parameters/hardware/actuators/base_controller.ops
                -s $(find sergio_bringup)/parameters/hardware/actuators/all_dynamixel_controllers.ops
                -s $(find sergio_bringup)/parameters/hardware/actuators/torso_joint_publisher.ops
            "/>
            <arg name="NAME" value ="hardware"/>
            <arg name="LOG_LEVEL" value="Warning"/>
            <arg name="DEBUG" value="false"/>
            <arg name="machine" value="sergio1" />
        </include>

        <!-- MANAGERS -->
        <include file="$(find robot_launch_files)/launch/hardware/managers/emergency_button_manager.launch">
            <arg name="machine" value="sergio1"/>
	    </include>

        <include file="$(find robot_launch_files)/launch/hardware/managers/battery_manager.launch" >
            <arg name="machine" value="sergio1"/>
	    </include>
        
        <!-- SENSORS -->

        <!-- Kinect: wait until correct kinect is mounted on sergio -->
        <include file="$(find robot_launch_files)/launch/hardware/sensors/kinect.launch">
            <arg name="name" value="top_kinect"/>
            <arg name="machine" value="sergio3"/>
        </include>
        
        <include file="$(find robot_launch_files)/launch/hardware/sensors/laser.launch">
            <arg name="name" value="base_laser"/>
            <arg name="machine" value="sergio1"/>
        </include>
        <include file="$(find robot_launch_files)/launch/hardware/sensors/laser.launch">
            <arg name="name" value="torso_laser"/>
            <arg name="machine" value="sergio3"/>
        </include>

    </group>

</launch>
