<?xml version="1.0"?>

<launch>

    <group ns="sergio">

        <!-- MANIPULATION -->        
        <include file="$(find robot_launch_files)/launch/manipulation/torso.launch">
            <arg name="machine" value="sergio2"/>
        </include>
        
<!--        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="left_arm"/>
            <arg name="machine" value="sergio2"/>
        </include>

        <include file="$(find robot_launch_files)/launch/manipulation/arm.launch">
            <arg name="name" value="right_arm"/>
            <arg name="machine" value="sergio2"/>
        </include>-->
        
        <include file="$(find robot_launch_files)/launch/manipulation/head.launch">
            <arg name="machine" value="sergio2"/>
        </include>
        
        <!-- NAVIGATION -->
        <include file="$(find robot_launch_files)/launch/navigation/navigation.launch">
            <arg name="machine" value="sergio1"/>
        </include> 

        <!-- WORLD MODEL -->
        <include file="$(find robot_launch_files)/launch/world_modeling/world_model.launch">
            <arg name="machine" value="sergio3"/>
            <arg name="config" value="world_modeling/world_model_navigation.yaml"/>
        </include> 
        
        <!-- TEXT TO SPEECH -->
        <include file="$(find robot_launch_files)/launch/interaction/text_to_speech.launch">
            <arg name="machine-tts" value="sergio3"/>
            <arg name="machine-play" value="sergio3"/>
        </include> 

    </group>

</launch>
