<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false" />

    <group ns="sergio">

	<!-- Dynamixels -->
        <include file="$(find robot_launch_files)/launch/hardware/dynamixels.launch" >
           <arg name="machine" value="sergio2"/>
           <arg name="dynamixel_controller_args"
             value="--manager=dxl_manager
                 --port=pan_tilt_laser_port
                 neck_pan
                 neck_tilt
                 torso_laser"/>
        </include>

        <!-- SENSORS -->
        <include file="$(find robot_launch_files)/launch/hardware/sensors/kinect.launch">
            <arg name="name" value="top_kinect"/>
            <arg name="machine" value="sergio2"/>
            <arg name="gdb" value="true"/>
        </include>

        <include file="$(find robot_launch_files)/launch/hardware/sensors/laser.launch">
            <arg name="name" value="back_laser"/>
            <arg name="machine" value="sergio2"/>
        </include>

        <include file="$(find robot_launch_files)/launch/hardware/sensors/laser.launch">
            <arg name="name" value="torso_laser"/>
            <arg name="machine" value="sergio2"/>
        </include>

        <!-- TEXT TO SPEECH -->
        <include file="$(find robot_launch_files)/launch/interaction/text_to_speech.launch">
            <arg name="machine-tts" value="sergio2"/>
            <arg name="machine-play" value="sergio2"/>
        </include>

        <!-- rgbd to ros -->
        <include file="$(find robot_launch_files)/launch/essentials/rgbd_to_ros.launch">
            <arg name="name" value="top_kinect"/>
            <arg name="machine" value="sergio2"/>
        </include>

    </group>
</launch>
