<?xml version="1.0"?>
<launch>

    <group ns="sergio">

        <!-- PARAMETERS: desciption, joint groups and specific skills -->
        <param name="robot_description" textfile="$(find sergio_description)/urdf/sergio.urdf" />
        <rosparam file="$(find sergio_description)/custom/joint_groups.yaml" command="load" />
        <rosparam file="$(find sergio_description)/custom/skills.yaml" command="load" />

        <!-- Robot state publisher -->
        <include file="$(find robot_launch_files)/launch/essentials/robot_state_publisher.launch">
            <arg name="machine" value="sergio1" />
        </include>

        <!-- Phone UI -->
        <include file="$(find robot_launch_files)/launch/interaction/mobile_ui_server.launch">
            <arg name="machine" value="sergio1" />
        </include>

        <!-- Launch simulator if we are not on a real robot -->
        <group unless="$(optenv ROBOT_REAL false)">

            <!-- Simulator -->
            <include file="$(find robot_launch_files)/launch/simulator/simulator.launch" >
                <arg name="robot_name" value="sergio"/>
            </include>

        </group>

        <!-- SPEECH RECOGNITION -->
        <include file="$(find robot_launch_files)/launch/interaction/speech_recognition.launch">
            <arg name="machine" value="sergio3"/>
        </include>
        <!-- If we are on the real robot, also launch the mic on sergio4 -->
        <group if="$(optenv ROBOT_REAL false)">
            <group ns="hmi">
                <!-- bridge to windows -->
                <node name="sergio4_speech_recognition" pkg="dragonfly_speech_recognition" type="ros_speech_bridge_xmlrpc" output="log">
                    <param name="ip" value="192.168.2.74" />
                </node>
            </group>
		</group>

        <!-- DIAGNOSTICS -->
		<node pkg="topic_tools" name="diagnostics_relay" type="relay" args="diagnostics /diagnostics" />
		<node pkg="topic_tools" name="diagnostics_agg_relay" type="relay" args="diagnostics_agg /diagnostics_agg" />
		<include file="$(find robot_launch_files)/launch/diagnostics/diagnostics.launch">
			<arg name="machine" value="sergio1" />
		</include>

		<!-- NTP MONITOR -->
	    <group if="$(optenv ROBOT_REAL false)">
			<include file="$(find robot_launch_files)/launch/diagnostics/ntp_monitor.launch">
				<arg name="machine" value="sergio2" />
			</include>
			<include file="$(find robot_launch_files)/launch/diagnostics/ntp_monitor.launch">
				<arg name="machine" value="sergio3" />
			</include>
		</group>

		<!-- CPU MONITOR -->
	    <group if="$(optenv ROBOT_REAL false)">
			<include file="$(find robot_launch_files)/launch/diagnostics/cpu_monitor.launch" >
				<arg name="machine" value="sergio1" />
			</include>
			<include file="$(find robot_launch_files)/launch/diagnostics/cpu_monitor.launch" >
				<arg name="machine" value="sergio2" />
			</include>
			<include file="$(find robot_launch_files)/launch/diagnostics/cpu_monitor.launch" >
				<arg name="machine" value="sergio3" />
			</include>
			<include file="$(find robot_launch_files)/launch/diagnostics/cpu_monitor.launch" >
				<arg name="machine" value="sergio4" />
			</include>
		</group>
	    <group unless="$(optenv ROBOT_REAL false)">
			<include file="$(find robot_launch_files)/launch/diagnostics/cpu_monitor.launch" >
				<arg name="machine" value="sergio1" />
			</include>
		</group>

    </group>

    <!-- TF Server: advertises services for looking up transformations -->
    <include file="$(find robot_launch_files)/launch/essentials/tf_server.launch" >
        <arg name="machine" value="sergio1" />
    </include>

 </launch>
